name: lembrete_remedios
description: "App para lembrar de tomar medicamentos"
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_local_notifications: ^17.2.3
  sqflite: ^2.3.3+2
  path_provider: ^2.1.5
  intl: ^0.19.0
  timezone: ^0.9.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
